@import './main.scss';

.stock {
    h2 {
        color: white;
    }
    ul {
        list-style-type: none;
    }
    .stockRow{



        h4 {
            color: white;
            margin-bottom: 2px;
        }

        p {
            color: white;
            padding-left: 15px;
        }

    }

    padding-bottom: 50px;
    .midi-button {
        background: transparent;
        border: 1px solid lightblue;
        min-width: 150px;
        min-height: 50px;
        color: lightblue;
        transition-duration: .2s;
        -webkit-transition-duration: .2s;
    }

    .midi-button:hover {
        color: white;
        border-color: white;
    }

    .midi-button:focus {
        outline: none;
    }

    small {
        color: white;
    }

    form {
        display: block;
    }

    #midi-form {
        span {
            color: white;
            font-size: large;
        }
    }

    input[type='date'] {
        display: inline;
        background: transparent;
        border: 1px solid lightblue;
        outline: none;
        transition-duration: .2s;
        -webkit-transition-duration: .2s;
        padding: 3px;
        color: white;
    }

}